body {
  margin: 20px;
}

#registerAccount, #accountFunds, .displayBalance {
  padding: 20px;
  background-color: #81c3c7;
  border-radius: 5px;
}

.displayBalance, #accountFunds {
  display: none;
}

#balance {
  background-color: white;
  padding: 7.5px;
  border-radius: 5px;
  width: 60%;
}
